.expoters-wrape-div {
    width: 11%;
    background-color: #1D5DC7;
    text-align: center;
    padding: 45px 0;
    border-radius: 10px;
    margin: 0 7px;
}

p.expo-p1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    color: #fff;
    padding: 20px 0 10px 0;
}

p.expo-p2 {
    color: #fff;
    font-weight: 400;
}

.main-expoters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;

}


.expoter-heading-div {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    width: 58%;

}

.export-heading-main {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Expotersheading {
    color: #1D5DC7;
    padding-right: 12px;
}

.crown-black-exporter{
    position: absolute;
    left: 0%;
    top: -20px;
}

button.expo-seeall-btn {
    border: none;
    background-color: #1D5DC7;
    text-align: center;
    padding: 15px 80px;
    border-radius: 5px;
    color: #fff;
}

.expoters-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}