h1.centrixtool-head-h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
}

p.centrixtool-head-p {
    color: #1D5DC7;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

.centrixtool-head {
    margin-top: 50px;
}

.importer-box-1 {
    width: 25%;
    background-color: #00BAF2;
    border-radius: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.centrix_star{
    position: absolute;
    right: 15%;
    bottom: -5%;
}
.importer-boxesmain {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}
.importer-boxesmain::after{
    content: '';
    position: absolute;
    top: 30%;
    left: -5%;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-radius: 50%;
    border: 60px solid #F8E6F1;
}
.iporter-boxes-maindiv {
    width: 25%;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}

.iporter-boxes-maindiv:hover {
    border-radius: 130px;
    background-color: #00BAF2;
}

.iporter-boxes-maindiv:hover .importerbox-img-div {
    background-color: white;
}

.iporter-boxes-maindiv:hover .importerbox-p {
    color: black;
}
.iporter-boxes-maindiv:hover .importerbox-btn{
    background-color: white;
    color: black;
}
/* .importer-box-1-img-div {
    background-color: #fff;
    border-radius: 100%;
    transition: all 0.3s linear;
    width: 227px;
}

.importer-box-1-img-div {
    background-color: #fff;
    border-radius: 100%;
    width: 227px;
    text-align: center;
    margin: 30px 50px;
}

.importer-box-1-p-div {
    text-align: center;
    width: 100%;
}

p.importer-box-1-p {
    font-size: 24px;
    font-weight: 500;
}

button.importer-box-1-btn {
    border: none;
    width: 100%;
    padding: 20px 40px;
    border-radius: 10px;
    color: black;
    font-weight: 500;
}

.importer-box-1-btn-div {
    margin: 20px 40px;
} */

.importerbox-img-div {
    background-color: #00baf2;
    border-radius: 100%;
    width: 203px;
    margin: 20px 0;
    transition: all 0.3s linear;
    padding: 25px;
}

p.importerbox-p {
    font-size: 24px;
    font-weight: 500;
    color: #7C7676;
    text-align: center;
    transition: all 0.3s linear;
}

button.importerbox-btn {
    background-color: #00baf2;
    border: none;
    padding: 20px 35px;
    color: white;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.importerbox-btn-div {
    margin: 30px 0 20px 0;
}