.aboutus-heading-div {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 60px;
}

.aboutus-head-span {
    color: #1D5DC7;
}

.aboutus-main {
    width: 25%;
    height: auto;
    border: 1px solid #00baf2;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}

.aboutus-slider-main {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.aboutus-usericon-main {
    background-color: #336CCC;
    display: flex;
    justify-content: space-between;
}

.aboutus-usericon1-img-main {
    height: 58px;
}

p.aboutus-p2-p {
    font-size: 22px;
    font-weight: 500;
    color: #00BAF2;
}

.aboutus-p2-div-p1 {
    margin: 20px 0;
}

p.aboutus-p2-p2 {
    font-size: 14px;
    font-weight: 400;
    color: #807D7E;
}

.about-us .slick-slider.slick-initialized {
    width: 100%;
}

.about-us .slick-prev {
    left: 86% !important;
    z-index: 1;
    top: 105%;
}

.about-us .slick-next {
    right: 11% !important;
    top: 105%;
    z-index: 1;
}

.about-us.slick-dots {
    bottom: -10% !important;
    text-align: left !important;
    overflow: hidden;
    padding-left: 225px;
}

.about-us .slick-prev::before,
.about-us .slick-next::before {
    color: #595959 !important;
}

.about-us .slick-prev:hover::before,
.about-us .slick-next:hover::before {
    color: #D62720 !important;
}
.about-us .slick-dots{
    width: 30% !important;
}

.about-us .slick-dots li button:before{
    width:30px !important;
    height:30px !important;
    color: #595959 !important;
    /* color: blue !important; */
    font-size: 16px !important;
}
.about-us .slick-dots .slick-active button::before{
    color: red !important;
}
.about-us{
    position: relative;
}
.about_star{
    position: absolute;
    left: 30%;
    top: 100%;
}